<div class="row container-fluid">
    <div class="col-md-5">
        <h3>Anuncios publicados</h3>
        <app-card isGestor="true" *ngFor="let option of options" [title]="option" [activate]="activo"></app-card>
    </div>
    <div class="col-md-7 box">
        <form class="needs-validation" novalidate>
            <div class="form-row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Titulo</label>
                        <input #titulo class="form-control" type="text" placeholder="titulo" required>
                    </div>
                    <div class="form-group">
                        <label>Porciones</label>
                        <input #porciones class="form-control" type="number" step="1" placeholder="porciones">
                    </div>

                    <div class="form-group">
                        <label>localizacion</label>
                        <input #ciudad class="form-control" type="text" placeholder="Ciudad">
                    </div>
                    <div class="form-group">
                        <label>Seleccione los alergenos</label>
                        <div *ngFor="let alergeno of alergenos"><input type="checkbox" (click)="selectedAlergeno(alergeno)">{{alergeno}}<br></div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <button type="submit" class="btn btn-success" (click)="saveAnuncio(titulo.value, porciones.value, ciudad.value)"><i class="fas fa-plus"> Añadir nuevo anuncio</i></button>
            </div>
        </form>
        <br>
        <br>
        <app-messages *ngFor="let item of message" [message]="item" [mode]="typeMessage"></app-messages>
    </div>
</div>