<div *ngIf="!isGestor" class="card mb-5">
    <img class="card-img-top" alt="Comentario de la imagen">
    <div class="card-body">
        <h5 class="card-title">Titulo: {{title}}</h5>
        <p class="card-text">porciones: {{porciones}}</p>
        <a [routerLink]="['/pages', title ]" class="btn btn-info">Comprar</a>
    </div>
</div>

<div *ngIf="isGestor" class="card mb-5">
    <img class="card-img-top" alt="Comentario de la imagen">
    <div class="card-body">
        <h5 class="card-title">Titulo</h5>
        <p class="card-text">Resumen</p>
        <button type="button" class="btn" (click)="onClick($event)" [ngClass]="{'btn-info': activate, 'btn-danger': !activate}">{{lblActivo}}</button>
    </div>
</div>