<div class="container-fluid">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">¿Eres nuevo en la página?</h1>
            <p class="lead">Para registrarse entra en el siguiente enlace!
                <a routerLink="/registro">Registro</a>
            </p>
        </div>
    </div>
    <form class="form-signin">
        <div class="text-center mb-4">
            <img class="mb-4" src="../../favicon.ico" alt="" width="72" height="72">
        </div>
        <label for="inputEmail">Correo</label>
        <div class="form-label-group">
            <input #email type="email" id="inputEmail" class="form-control" placeholder="correo electronico" autofocus required>
        </div>
        <label for="inputPassword">Contraseña</label>
        <div class="form-label-group">
            <input #password type="password" id="inputPassword" class="form-control" placeholder="Contraseña" required>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="doLogin(email.value, password.value)">Sign in</button>
    </form>
    <app-messages *ngFor="let error of errores" [message]="error" mode="danger"></app-messages>
</div>