    .sidenav {
        height: 100%;
        width: 240px;
        bottom: auto;
        background-color: #f1f1f1;
    }
    
    .sidenav a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: flex;
    }
    
    .sidenav a:hover {
        color: black;
    }