<div class="row container-fluid">
    <div class="col-md-3">
        <app-sidebar title="Chat(s)"></app-sidebar>
    </div>
    <div class="col-md-9" style="background-color: beige">
        <div class="row box">
            <div class="msg">
                <label> Nombre:</label>
                <app-messages message="Mensaje en verde" mode="light"> </app-messages>
            </div>
        </div>
        <div class="row">
            <div class="col-md-11">
                <input class="text message" placeholder="Escribir mensaje..." />
            </div>
            <div class="col-md-1">
                <button class="btn btn-group btn-success" style="margin-bottom: 9px;"><i class="fas fa-caret-right"></i></button>
            </div>

        </div>
    </div>
</div>