<div class="container-fluid">
    <form>
        <div class="row">
            <div class="col-md-6">
                <input class="form-control" type="text" placeholder="Nombre">
                <input class="form-control" type="password" placeholder="Contraseña">
                <input class="form-control" type="email" placeholder="Email">
                <input class="form-control" type="text" placeholder="Ciudad">
            </div>
            <div class="col-md-6">
                <input class="form-control" type="number" placeholder="Contacto">
                <div class="form-group">
                    <label for="exampleFormControlSelect2">Example multiple select</label>
                    <select multiple class="form-control" id="exampleFormControlSelect2">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
                </div>
            </div>
        </div>
        <div class="row">
            <button type="button" class="btn btn-success">Registrar</button>
        </div>
    </form>
</div>