<div class="container-fluid">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Formulario de registro</h1>
            <p class="lead">Para volver al login entra en el siguiente enlace!
                <a routerLinkActive="active" routerLink="/login">Login</a>
            </p>
        </div>
    </div>
    <form class="needs-validation" novalidate>
        <div class="form-row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Nombre</label>
                    <input class="form-control" type="text" placeholder="Nombre" required>
                </div>
                <div class="form-group">
                    <label>Contraseña</label>
                    <input class="form-control" type="password" placeholder="Contraseña">
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input class="form-control" type="email" placeholder="Email">
                </div>
                <div class="form-group">
                    <label>Ciudad</label>
                    <input class="form-control" type="text" placeholder="Ciudad">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Email address</label>
                    <input class="form-control" type="number" placeholder="Contacto">

                </div>
                <div class="form-group">
                    <label for="exampleFormControlSelect2">Seleccione los alergenos</label>
                    <select multiple class="form-control" id="exampleFormControlSelect2">
            <option *ngFor="let alergeno of alergenos" >{{alergeno}}</option>
          </select>
                </div>
            </div>
        </div>
        <div class="form-row">
            <button type="submit" style="margin-right: 50%;  margin-left: 50%;" class="btn btn-success" (click)="validate()">Registrar</button>
        </div>
    </form>
</div>